// out: ./navbar.css, compress: true

.Navbar {
  background-color: #ffaa81;
  font-family: 'Poppins', sans-serif;
  height: 80px;
   &HomeLink,&TeamLink,&AboutLink{
     padding: 10px 30px;;
   }
   &HomeLink{
     padding-left: 80px;
     &Img{
       margin-top: 20px;
     }
   }
   &TeamLink,&AboutLink{
     color: #ffffff;
     text-decoration: none;
   }
   &LinkText{
     font-family: 'Poppins', sans-serif;
     font-size: 18px;
     font-weight: 600;
     color: #645f5f;
   }
}
